form.auction-form {
	input[type='radio'] {
		display: none;
	}
	input:checked + label {
		* {
			@apply text-white;
		}
	}

	input:focus {
		@apply bg-card-lighter/50;
	}

	input[type='text'],
	input[type='number'],
	input[type='password'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	input[type='search'],
	input[type='date'],
	input[type='time'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='week'],
	input[type='color'],
	textarea,
	select {
		color-scheme: dark;
		@apply bg-transparent text-card-foreground-darker text-lg font-semibold;
		@apply w-full ring-2 ring-inset ring-card-lighter rounded-lg;
		@apply px-4 py-3;
		&:hover {
			@apply bg-card-lighter/20;
		}
		&::-webkit-datetime-edit {
			@apply rounded-lg;
		}
		&::-webkit-datetime-edit-fields-wrapper {
			@apply p-0;
		}
		&::-webkit-datetime-edit-text {
			@apply text-card-foreground;
		}
		&::-webkit-datetime-edit-month-field,
		&::-webkit-datetime-edit-day-field,
		&::-webkit-datetime-edit-year-field,
		&::-webkit-datetime-edit-hour-field,
		&::-webkit-datetime-edit-minute-field {
			@apply mx-1 py-0 px-1 rounded-sm bg-transparent text-card-foreground-darker;
		}

		&::-webkit-datetime-edit-month-field:focus,
		&::-webkit-datetime-edit-day-field:focus,
		&::-webkit-datetime-edit-year-field:focus,
		&::-webkit-datetime-edit-hour-field:focus,
		&::-webkit-datetime-edit-minute-field:focus {
			@apply text-card-foreground-lighter bg-background-lighter;
		}

		&::-webkit-inner-spin-button {
			@apply hidden;
		}
		&::-webkit-calendar-picker-indicator {
			@apply p-0;
		}
	}
	.position-trailing {
		@apply absolute top-0 bottom-0 right-2 flex flex-col justify-center;
	}
}
