@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

.bgGradient {
  background: linear-gradient(109deg, #363062 0%, #4846A3 100%);
}

.bidders {
  background: linear-gradient(180deg, #504F4F 22.22%, #969696 77.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Most engaged live swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.slick-arrow {
 display: none !important;
}

/* .slick-next {
  padding: 35px !important;
  background-color: #c8c8c887 !important;
  border-radius: 50px !important;
  backdrop-filter: blur(3px) !important;
}

.slick-next:after {
  color: white !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.slick-prev:after {
  color: white !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.slick-arrow{
  padding-top: -10px;
} */

/* Responsive card size */
.carousel-img-smaller {
  height: 232px !important;
  width: 232px !important;
  object-fit: cover !important;
  border-radius: 18px;
  transition: transform 0.2s ease-in-out;

}

.carousel-img-bigger {
  height: 267px !important;
  width: 267px !important;
  object-fit: cover !important;
  border-radius: 18px;
  transition: transform 0.2s ease-in-out;
}

/* Responsive styles here */
@media (min-width: 600px) and (max-width: 1300px) {
  .carousel-img-bigger {
    height: calc((100vw / 5) - 31px) !important;
    width: calc((100vw / 5) - 31px) !important;
  }

  .carousel-img-smaller {
    height: calc((100vw / 5) - 41px) !important;
    width: calc((100vw / 5) - 41px) !important;
  }
}

.carousel-img-bigger:hover {
  transform: scale(1.05);
}

.carousel-img-smaller:hover {
  transform: scale(1.05);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}